<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        hr {
            background: black;
            border: 0;
        }
    </style>
    <style>
        svg.className {
            width: 100px;
            height: 100px;
            color: limegreen;
        }
    </style>

    <script>
        function deleteSelectedRows() {
            //테이블 요소를 가져옵니다.
            var table = document.getElementById('basicExample');
            var checkboxes = table.querySelectorAll('tbody input[type="checkbox"]:checked');

            // 체크된 각 행을 삭제합니다.
            checkboxes.forEach(function (checkbox) {
                var row = checkbox.closest('tr');
                row.remove();
            });
        }
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Vivo - Responsive Bootstrap 5 Dashboard Template">
    <meta name="author" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="/xdm/v1/template/vivo/assets/images/favicon.svg">

    <!-- Title -->
    <title>Vivo Admin Template - Admin Dashboard</title>


    <!-- *************
         ************ Common Css Files *************
      ************ -->
    <!-- Animated css -->
    <link rel="stylesheet" href="/xdm/v1/template/vivo/assets/css/animate.css">

    <!-- Bootstrap font icons css -->
    <link rel="stylesheet" href="/xdm/v1/template/vivo/assets/fonts/bootstrap/bootstrap-icons.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/xdm/v1/template/vivo/assets/css/main.min.css">
	
	<!-- datetimepicker css -->
	<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">

    <!-- *************
         ************ Vendor Css Files *************
      ************ -->
    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="/xdm/v1/template/vivo/vendor/overlay-scroll/OverlayScrollbars.min.css">

    <!-- Data Tables -->
    <link rel="stylesheet" href="/xdm/v1/template/vivo/vendor/datatables/dataTables.bs5.css" />
    <link rel="stylesheet" href="/xdm/v1/template/vivo/vendor/datatables/dataTables.bs5-custom.css" />

</head>

<body>

    <!-- Loading wrapper start -->
    <!-- <div id="loading-wrapper">
         <div class="spinner">
                <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
            </div>
      </div> -->
    <!-- Loading wrapper end -->

    <!-- Page wrapper start -->
    <div class="page-wrapper">

        <!-- Sidebar wrapper start -->
        <th:block th:replace="~{/xdm/v1/infra/include/nav :: nav}"></th:block>
        <!-- Sidebar wrapper end -->

        <!-- *************
            ************ Main container start *************
         ************* -->
        <div class="main-container">

            <!-- Page header starts -->
            <div class="page-header">

                <div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

                <!-- Header actions container start -->
				<th:block th:replace="~{/xdm/v1/infra/include/header :: header}"></th:block>
				<!-- Header actions container end -->

            </div>
            <!-- Page header ends -->

            <!-- Content wrapper scroll start -->
            <div class="content-wrapper-scroll">

                <!-- Content wrapper start -->
                <div class="content-wrapper">

                    <!-- Row start -->
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <!-- Breadcrumb start -->
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <i class="bi bi-house"></i>
                                    <a href="index.html">Page 1</a>
                                </li>
                                <li class="breadcrumb-item">Page 2</li>
                                <li class="breadcrumb-item breadcrumb-active" aria-current="page">Default</li>
                            </ol>
                            <!-- Breadcrumb end -->

                            <h2>코드그룹 리스트</h2>
							<form method ="post" action="/xdm/v1/infra/codegroup/codeGroupXdmList" id="formList" name="formList">
								<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
								<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/> 
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <select class="form-select" aria-label="Default select example"
                                                    style="width: 200px;" name="sh_DelNY">
                                                    <option value="" th:selected="${vo.sh_DelNY == null}">삭제여부</option>
                                                    <option value="0" th:selected="${vo.sh_DelNY == 0}">N</option>
                                                    <option value="1" th:selected="${vo.sh_DelNY == 1}">Y</option>
                                                </select>
                                            </th>
                                            <td>
                                                <select class="form-select" aria-label="Default select example"
                                                    style="width: 200px;" name="sh_UseNY" id="sh_UseNY">
                                                    <option value="" th:selected="${vo.sh_UseNY == null}">사용여부</option>
                                                    <option value="0" th:selected="${vo.sh_UseNY == 0}">N</option>
                                                    <option value="1" th:selected="${vo.sh_UseNY == 1}">Y</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-select" aria-label="Default select example"
                                                    style="width: 200px;" name="sh_OptionDate" id="sh_OptionDate">
                                                    <option value="" th:selected="${vo.sh_OptionDate == null}">날짜</option>
                                                    <option value="1" th:selected="${vo.sh_OptionDate == 1}">등록일</option>
                                                    <option value="2" th:selected="${vo.sh_OptionDate == 2}">수정일</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" id="sh_DateStart" name="sh_DateStart" th:value="${#strings.substring(vo.sh_DateStart, 0, 10)}" placeholder="시작일" autocomplete="off"
                                                    style="border-radius: 5px; border: 1px solid rgb(170, 176, 187);padding: 5px; box-sizing: border-box; width: 200px; height: 40px;">
                                            </td>
                                            <td>
                                                <input type="text" id="sh_DateEnd" name="sh_DateEnd" th:value="${#strings.substring(vo.sh_DateEnd, 0, 10)}" placeholder="종료일" autocomplete="off"
                                                    style="border-radius: 5px; border: 1px solid rgb(170, 176, 187);padding: 5px; box-sizing: border-box; width: 200px; height: 40px;">
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>
                                                <select class="form-select" aria-label="Default select example"
                                                    style="width: 200px;" name="sh_Option" id="sh_Option">
                                                    <option value="" th:selected="${vo.sh_Option == null}">검색구분</option>
                                                    <option value="1" th:selected="${vo.sh_Option == 1}">seq</option>
                                                    <option value="2" th:selected="${vo.sh_Option == 2}">이름</option>
                                                    <option value="3" th:selected="${vo.sh_Option == 3}">순서</option>
                                                </select>
                                            </th>
                                            <td>
                                                <input type="text" placeholder="검색어" name="sh_Value" id="sh_Value" th:value="${vo.sh_Value}" autocomplete="off"
                                                    style="border-radius: 5px; border: 1px solid rgb(170, 176, 187);padding: 5px; box-sizing: border-box; width: 200px; height: 40px;">
                                            </td>
                                            <td><button type="submit">🔍</button>
                                                <button type="button" id="btnReload">🔄</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            

                            <hr style="color: rgb(199, 202, 209);">

                            <!-- Row start -->
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table m-0">
                                                    <thead>
                                                        <tr>
                                                            <th colspan='9' style="width: 140px; padding-right:0px;">
                                                      	    	<span class="fs-5" th:text= "'Total: '+${vo.totalRows}"></span>
                                                           	</th>
	                                           	            <th style="width: 140px; padding-right:0px;">
	                                           	            	<select class="form-select" aria-label="Default select example"
            	                                                	style="width: 140px; padding-right:0px;" id="changeRowNum" name="changeRowNum">
                	                                        		<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
                    	                                            <option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
                        	                                        <option value="15" th:selected="${vo.rowNumToShow eq 15}">15</option>
                            	                                    <option value="20" th:selected="${vo.rowNumToShow eq 20}">20</option>
                                    	                        </select>
                                    	                    </th>
                                                		</tr>
                                                    </thead>
                                                    <tbody> 
														<tr>
															<td><input type="checkbox"></td>
													        <td>#</td>
													        <td>seq</td>
													        <td>이름</td>
													        <td>개수</td>
													        <td>사용여부</td>
													        <td>순서</td>
													        <td>등록일</td>
													        <td>수정일</td>
													        <td>삭제여부</td>
													    </tr>
													    <tr th:if="${#lists.isEmpty(list)}">
													    	<td colspan="10" style="text-align: center;">
													            <p class="fs-5" style="padding-top: 12px;">There are no data!</p>
													        </td>
														</tr>
													    <tr th:each="list : ${list}">
													        <td><input type="checkbox"></td>
													        <td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
													        <td th:text="${list.cgseq}"></td>
													        <td><a th:href="@{/xdm/v1/infra/codegroup/codeGroupXdmMfom(cgseq=${list.cgseq})}" th:text="${list.cg_Name}"></a></td>
													        <td th:text="${list.codeGroupCount}"></td>
													        <td th:if="${list.cg_UseNY eq 0}">N</td>
													        <td th:unless="${list.cg_UseNY eq 0}">Y</td>
													        <td th:text="${list.cg_Order}"></td>
													        <td th:text="${#dates.format(list.cg_ReDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
													        <td th:text="${#dates.format(list.cg_ReDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
													        <td th:if="${list.cg_DelNY eq 0}">N</td>
													        <td th:unless="${list.cg_DelNY eq 0}">Y</td>
													    </tr>
													</table>                                                   
												</tbody>
											</table>
                                        </div>

                                            <!--페이지네이션 시작-->
                                            <div aria-label="...">
                                                <ul class="pagination justify-content-center ">
                                                    <li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="fa-solid fa-angle-left"></i></a></li>
                                                    <li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}">${i.index}</a></li>
                                                    <li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="fa-solid fa-angle-right"></i></a></li>
                                                </ul>
                                            </div>
                                            <!--페이지네이션 끝-->
                                            <!-- paging s  -->				
										<!-- <div class="container-fluid px-0 mt-2 mb-2">
												<div class="row">
													<div class="col">
														<ul class="pagination justify-content-center mb-0">
															<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="fa-solid fa-angle-left"></i></a></li>
											   				<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}">${i.index}</a></li>
															<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="fa-solid fa-angle-right"></i></a></li>
														</ul>
													</div>
												</div>
											</div> -->
											<!-- paging e  -->

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <button type="button" id='seobin' class="btn btn-white"
                                                        style="background-color: red;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                            fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                            <path
                                                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                                        </svg>
                                                    </button>
                                                    <button type="button" id='seobin' class="btn btn-white"
                                                        style="background-color: red;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                            fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path
                                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                            <path
                                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="col-md-8"></div>
                                                <div class="col-md-2 ">
                                                    <button type="button" id='seobin' class="btn btn-white"
                                                        style="background-color: green; ">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="white" class="bi bi-file-earmark-excel"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
                                                            <path
                                                                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                                        </svg>
                                                    </button>
                                                    <button type="button" id='btnInsert' class="btn btn-white"
                                                        style="background-color: blue;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="white" class="bi bi-plus-square" viewBox="0 0 16 16">
                                                            <path
                                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                            <path
                                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
						</form>
                            <!-- Row end -->
					</div>
                </div>
                    <!-- Card end -->

            </div>
        </div>
            <!-- Row end -->

    </div>
        <!-- Content wrapper end -->

        <!-- App Footer start -->
        <div class="app-footer">
            <span>© Bootstrap Gallery 2023</span>
        </div>
        <!-- App footer end -->

    </div>
    <!-- Content wrapper scroll end -->

    </div>
    <!-- *************
            ************ Main container end *************
         ************* -->

    </div>
    <!-- Page wrapper end -->

    <!-- *************
         ************ Required JavaScript Files *************
      ************* -->	
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="/xdm/v1/template/vivo/assets/js/jquery.min.js"></script>
    <script src="/xdm/v1/template/vivo/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/xdm/v1/template/vivo/assets/js/modernizr.js"></script>
    <script src="/xdm/v1/template/vivo/assets/js/moment.js"></script>

    <!-- *************
         ************ Vendor Js Files *************
      ************* -->

    <!-- Overlay Scroll JS -->
    <script src="/xdm/v1/template/vivo/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
    <script src="/xdm/v1/template/vivo/vendor/overlay-scroll/custom-scrollbar.js"></script>

    <!-- Data Tables -->
    <script src="/xdm/v1/template/vivo/vendor/datatables/dataTables.min.js"></script>
    <script src="/xdm/v1/template/vivo/vendor/datatables/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="/xdm/v1/template/vivo/vendor/datatables/custom/custom-datatables.js"></script>

    <!-- Main Js Required -->
    <script src="/xdm/v1/template/vivo/assets/js/main.js"></script>
    
    <!-- by developer -->
 	<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>

	<script>
		//검색조건 달력
		window.addEventListener('load', function(){
			$.datetimepicker.setLocale('ko');
			$("#sh_DateStart, #sh_DateEnd").datetimepicker({
				timepicker:false,
				format: 'Y-m-d'
			});
		});
		// 페이징
		goList = function (thisPage) {
		    document.querySelector("input[name=thisPage]").value = thisPage;
		    document.querySelector("form[name=formList]").action = "/xdm/v1/infra/codegroup/codeGroupXdmList";
		    document.querySelector("form[name=formList]").submit();
		}
		//데이터 행
		document.getElementById("changeRowNum").onchange = function () {
		    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
		    formList.action = "/xdm/v1/infra/codegroup/codeGroupXdmList";
		    formList.submit();
		}
		
		//인서트 버튼
		document.getElementById("btnInsert").onclick = function (){
			window.location = "/xdm/v1/infra/codegroup/codeGroupXdmForm";
		}
		//새로고침 버튼
		document.getElementById("btnReload").onclick = function (){
			window.location = "/xdm/v1/infra/codegroup/codeGroupXdmList";
		}
	</script>
	
</body>

</html>