<!doctype html>
<html class="no-js" lang="zxx">

<!-- head Start -->
<div th:replace="~{usr/v1/infra/include/head :: head}"></div>
<!-- head Start -->

<body>

<!-- header Start -->
<div th:replace="~{usr/v1/infra/include/header :: header}"></div>
<!-- header End -->
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/usr/v1/infra/index/indexUsrView">Home</a>
                </li>
                <li class="active">결제하기 </li>
            </ul>
        </div>
    </div>
</div>
<form action="/usr/v1/infra/product/checkoutUsrView" method="post">
<div class="checkout-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="billing-info-wrap">
                    <h3>배송 정보</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>받으시는 분</label>
                                <input type="text" id="pmName" name="pmName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <label>휴대전화</label>
                                <input type="text" id="pmNum" name="pmNum">
                            </div>
                        </div>
                        <label>주소</label>
                        <div class="col-lg-6">
                        	<div class="billing-select mb-20">
		                        <input type="text" id="sample6_postcode" placeholder="우편번호" name="pmZipNum">
							</div>
						</div>
						<div class="col-lg-3">
                            <div class="billing-select mb-20">
                            	<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-select mb-20">
								<input type="text" id="sample6_address" placeholder="주소" name="pmAdr">
								<br>
								<br>
								<input type="text" id="sample6_detailAddress" placeholder="상세주소" name ="pmAdrDt">
								                   
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info ">
                                <label>이메일</label>
                                <input type="text"placeholder="이메일" id="pmEmail" name="pmEmail">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="additional-info-wrap" style="margin-top:0px;">
<!--                         <h3>추가 사항</h3> -->
                        <div class="additional-info">
                            <label>배송 요청사항</label>
                            <textarea placeholder="배송 요청사항을 적어주세요." name="pmDelivery" id="pmDelivery"></textarea>
                        </div>
                	</div>
                </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order-area">
                    <h3>주문 정보</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>상품</li>
                                    <li>총액</li>
                                </ul>
                            </div>
                            <div class="your-order-middle">
                                <ul>
                                    <li><span class="order-middle-left">어쩌구저쩌구 x 1</span> <span class="order-price">15800원</span></li>
                                    <li><span class="order-middle-left">저쩌구어쩌구 x 1</span> <span class="order-price">32000원</span></li>
                                </ul>
                            </div>
                            <div class="your-order-bottom">
                                <ul>
                                    <li class="your-order-shipping">배송비</li>
                                    <li>무료 배송</li>
                                </ul>
                            </div>
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">총액</li>
                                    <li>47800원</li>
                                </ul>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion element-mrg">
                                <div class="panel-group" id="accordion">
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-one">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#method1">
                                                    Direct bank transfer
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method1" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-two">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#method2">
                                                    Check payments
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-three">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#method3">
                                                    Cash on delivery
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Place-order mt-25">
                        <a class="btn-hover" href="#">결제하기</a>
                    </div>
                </div>
            </div>
            <div id="map" style="width:56%;height:300px;margin-left:15px;"></div>
			<p><em>지도를 클릭해주세요!</em></p> 
			<div id="clickLatlng"></div>
        </div>
    </div>
</div>
<!-- footer Start -->
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>
<!-- footer Start -->

<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/main.js"></script>


<!-- kakao 주소 Start -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
//                     // 조합된 참고항목을 해당 필드에 넣는다.
//                     document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
<!-- kakao 주소 Start -->

<!-- kakao map 위도경도 start-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9a79b228465df4faa6a10e4225e1beec"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 지도를 클릭한 위치에 표출할 마커입니다
var marker = new kakao.maps.Marker({ 
    // 지도 중심좌표에 마커를 생성합니다 
    position: map.getCenter() 
}); 
// 지도에 마커를 표시합니다
marker.setMap(map);

// 지도에 클릭 이벤트를 등록합니다
// 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
    
    // 클릭한 위도, 경도 정보를 가져옵니다 
    var latlng = mouseEvent.latLng; 
    
    // 마커 위치를 클릭한 위치로 옮깁니다
    marker.setPosition(latlng);
    
    var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
    message += '경도는 ' + latlng.getLng() + ' 입니다';
    
    var resultDiv = document.getElementById('clickLatlng'); 
    resultDiv.innerHTML = message;
    
});
</script>
<!-- kakao map 위도경도 end-->
</body>

</html>