<!doctype html>
<html class="no-js" lang="en">

<!-- head start -->
<div th:replace="~{usr/v1/infra/include/head :: head}"></div>
<!-- head end -->

<body>
<!-- header start -->
<div th:replace="~{usr/v1/infra/include/header :: header}"></div>
<!-- header end -->
    <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/usr/v1/infra/product/topUsrList">목록</a>
                    </li>
                    <li class="active">상세 페이지</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details">
                        <div class="product-details-img">
                            <div class="tab-content jump">
                                <div id="shop-details-1" class="tab-pane large-img-style">
                                    <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top22.png" alt="">
                                    <span class="dec-price">-10%</span>
                                    <div class="img-popup-wrap">
                                        <a class="img-popup" href="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top22.png"><i
                                                class="pe-7s-expand1"></i></a>
                                    </div>
                                </div>
                                <div id="shop-details-2" class="tab-pane active large-img-style">
                                    <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top222.png" alt="">
                                    <span class="dec-price">-10%</span>
                                    <div class="img-popup-wrap">
                                        <a class="img-popup" href="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top222.png"><i
                                                class="pe-7s-expand1"></i></a>
                                    </div>
                                </div>
                                <div id="shop-details-3" class="tab-pane large-img-style">
                                    <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top2.png" alt="">
                                    <span class="dec-price">-10%</span>
                                    <div class="img-popup-wrap">
                                        <a class="img-popup" href="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top2.png"><i
                                                class="pe-7s-expand1"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-details-tab nav">
                                <a class="shop-details-overly" href="#shop-details-1" data-toggle="tab">
                                    <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top22.png" alt="">
                                </a>
                                <a class="shop-details-overly active" href="#shop-details-2" data-toggle="tab">
                                    <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top222.png" alt="">
                                </a>
                                <a class="shop-details-overly" href="#shop-details-3" data-toggle="tab">
                                    <img src="https://shinnosuke.s3.ap-northeast-2.amazonaws.com/productdto/0/2024/11/07/bf794c3f-5914-48a7-8f60-44608117d41c.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-content ml-70">
                        <h2 th:text="${item?.prProdName}"></h2>
                        <div class="product-details-price">
                            <span class="old" style="margin-right: 30px; margin-left: 0px;" th:text="${item?.prReguPrice}"></span>
                            <span th:text="${item?.prSalePrice}"></span>
                        </div>
                        <div class="pro-details-rating-wrap">
                            <div class="pro-details-rating">
                                <i class="fa fa-star yellow"></i>
                        	<span th:text="${#numbers.formatDecimal(#aggregates.sum(relist.![reStar])*1.0 / #lists.size(relist), 1, 1)}"> </span>
                            </div>
                            <a data-toggle="tab" href="#des-details3">후기 (<span th:text="${#lists.size(relist)}"></span>)</a>
                        </div>
                        <span th:text="${item?.prProdDesc}"></span>
                        <div class="pro-details-size-color">
                            <div class="pro-details-color-wrap">
                                <span>Color</span>
                                <div class="pro-details-color-content">
                                    <ul>
                                        <li class="blue"></li>
                                        <li class="maroon active"></li>
                                        <li class="gray"></li>
                                        <li class="green"></li>
                                        <li class="yellow"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pro-details-size">
                                <span>사이즈</span>
                                <div class="pro-details-size-content">
                               		<select id="prSize" name="prSize" class="form-select">
										<option value="">선택하세요</option>
										<option th:each="list : ${@codeService.selectListCachedCode(5)}" th:value="${list.cdseq}" th:text="${list.cd_Name}" th:selected="${list.cdseq} == ${item?.prSize}"></option>
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="pro-details-quality">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box"  type="text" name="qtybutton" readonly>
                            </div>
                             <div class="pro-details-cart btn-hover">
                                 <a th:href="@{/usr/v1/infra/product/checkoutUsrView(prseq=${item.prseq})}">Add To Cart</a>
                             </div> 
                            <div class="pro-details-wishlist">
                                <a href="#"><i class="fa fa-heart-o" style="font-size: 20px;"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-11" style="padding-left: 0px;">
			                <div class="your-order-area">
            			        <div class="your-order-wrap gray-bg-4">
                        			<div class="your-order-product-info">
                            			<div class="your-order-top">
                                			<ul>
                                    			<li>상품</li>
                                    			<li>총액</li>
                                			</ul>
                            			</div>
                            			<div class="your-order-middle">
										    <ul>
										        <li><span class="order-middle-left" th:text="${item?.prProdName}"></span><span class="order-price" th:text="${item?.prSalePrice}"></span></li>
										        <li><span>사이즈 :</span><span id="selecteSize"></span></li>
										        <li><span>개수 :</span ></li>
										    </ul>
										</div>
                            			<div class="your-order-bottom">
                                			<ul>
                                    			<li class="your-order-shipping">배송비</li>
                                    			<li>무료 배송</li>
                                			</ul>
                            			</div>
                            			<div class="your-order-total">
                                			<ul>
                                    			<li class="order-total">총액 :</li>
			                                    <li><span class="order-price" th:text="${item?.prSalePrice}"></span></li>
			                                </ul>
			                            </div>
			                        </div>
			                    </div>
			                </div>	
			            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-review-area pb-90">
        <div class="container">
            <div class="description-review-wrapper">
                <div class="description-review-topbar nav">
                    <a data-toggle="tab" href="#des-details1">모델 정보</a>
                    <a class="active" data-toggle="tab" href="#des-details2">설명</a>
                    <a data-toggle="tab" href="#des-details3">후기 (<span th:text="${#lists.size(relist)}"></span>)</a>
                </div>
                <div class="tab-content description-review-bottom">
                    <div id="des-details2" class="tab-pane active">
                        <div class="product-description-wrapper" style="text-align: center;">
                            <b style="font-size: 16px; font-family: Georgia;">Uban Man</b>
                            <br>
                            <strong></strong>
                            <br>
                            <strong>안녕하세요. 저희 Uban Man은<span style="color: red;">고퀄리티 쇼핑몰</span>로써</strong>
                            <strong></strong>
                            <br>
                            <strong>핏은 물론, 퀄리티 높은 상품만 고집하기에</strong>
                            <strong></strong>
                            <br>
                            <strong>상품 준비 과정에서 같은 상품 가격대비</strong>
                            <br>
                            <strong>만족하실 좋은 제품들로만 선별하고 또 선별하고 있습니다.</strong>
                            <strong></strong>
                            <br>
                            <strong><span style="color: red;">합리적인 가격</span>으로 고객님들께서</strong>
                            <strong></strong>
                            <br>
                            <strong>항상 '믿고 가는 Uban Man' 이 될 수 있도록 노력하겠습니다.</strong>
                            <br>
                            <br>
                            <strong></strong>
                            <b style="font-size: 16px; font-family: Georgia;">Comment</b>
                            <br>
                            <strong></strong>
                            <br>
                            <strong>피그먼트 워싱 처리된 원단과</strong>
                            <strong></strong>
                            <br>
                            <strong>유니크한 디자인이</strong>
                            <strong></strong>
                            <br>
                            <strong>매력적인 반팔티입니다.</strong>
                            <br>
                            <br>
                            <strong>모델 착용 기준</strong>
                            <!-- <strong></strong> -->
                            <br>
                            <strong>부담 없는 세미 오버핏으로 입어졌으며</strong>
                            <br>
                            <br>
                            <strong>드롭 숄더 라인이 적용되어</strong>
                            <br>
                            <strong>어깨가 넓어보이는</strong>
                            <br>
                            <strong>실루엣이 만족스러웠어요.</strong>
                            <br>
                            <br>
                            <strong>텐타 덤블 워싱 가공 처리된</strong>
                            <br>
                            <strong>고밀도 16수 싱글 면 소재로 제작되었고</strong>
                            <br>
                            <strong>늘어남이 덜한 짱짱한 원단이 돋보였습니다.</strong>
                            <br>
                            <br>
                            <strong>청바지나 면바지 등</strong>
                            <br>
                            <strong>다양한 팬츠에 매치하여</strong>
                            <br>
                            <strong>트랜디한 코디를 완성하기 좋아서</strong>
                            <br>
                            <strong>추천드리고 싶은 반팔티입니다.</strong>
                            <br>
                            <br>
                            <br>
                            <strong>Check List</strong>
                            <br>
                            <br>
                            <strong>- 늘어남이 적은 16수 싱글 면 소재</strong>
                            <br>
                            <strong>- 유니크한 피그먼트 워싱 컬러감</strong>
                            <br>
                            <strong>- 코디하기 좋은 트랜디한 디자인</strong>
                            <br>
                            <strong></strong>
                            <br>
                            <br>
                            <div style="text-align: center;">
                                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top1ex1.png" style="width: 800px; height: 900px;">
                            </div>
                            <br>
                            <div style="text-align: center;">
                                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top1ex2.png" style="width: 800px; height: 900px;">
                            </div>
                            <br>
                            <div style="text-align: center;">
                                <img src="https://shinnosuke.s3.ap-northeast-2.amazonaws.com/productdto/0/2024/11/07/8b2d1501-cc5f-404a-87f5-8796b3eceded.png" style="width: 800px; height: 900px;">
                            </div>
                            <br>
                            <div style="text-align: center;">
                                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top1ex4.png" style="width: 800px; height: 900px;">
                            </div>
                            <div>
                                <strong></strong>
                                <br>
                                <strong>DETAIL</strong>
                                <br>
                                <br>
                                <strong>사이즈</strong>
                                <br>
                                <strong>FREE:어깨 60 가슴 60 암홀 27 소매 26 총장 74</strong>
                                <br>
                                <br>
                                <strong>측정 방법에 따라 오차가 발생할 수 있습니다. (1~3cm)</strong>
                                <br>
                                <br>
                                <strong>FABRIC</strong>
                                <br>
                                <strong>면 100%</strong>
                                <br>
                                <br>
                                <strong>DETAIL INFO</strong>
                                <br>
                                <strong>신축성 / 좋음 □ 보통 ■ 없음 □</strong>
                                <br>
                                <strong>두께감 / 두툼 □ 보통 □ 얇음 ■</strong>
                                <br>
                                <strong>계절감 / 봄 □ 여름 ■ 가을 □ 겨울 □</strong>
                                <br>
                                <br>
                                <strong><span style="color: red;">* 빛이나 조명, 촬영 장비 등 환경에 따라</span></strong>
                                <br>
                                <strong><span style="color: red;">실제 색감과 약간의 차이가 발생할 수 있는 점 참고해주시기 바랍니다!</span></strong>
                            </div>
                        </div>
                    </div>
                    <div id="des-details1" class="tab-pane ">
                        <div class="product-anotherinfo-wrapper">
                            <ul>
                                <li><span>Height</span> 181cm</li>
                                <li><span>Weight</span>70kg </li>
                                <li><span>Top Size</span>상의 105(XL)</li>
                                <li><span>Bottom Size</span>하의 29~30(M)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="des-details3" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="review-wrapper"  th:each="relist : ${relist}">
                                    <div class="single-review">
                                        <div class="review-content">
                                            <div class="review-top-wrap">
                                                <div class="review-left">
                                                    <div class="review-name">
                                                        <span th:text="${relist.memId}"></span>
                                                        <br>
                                                        <div class="review-rating" id="reStar" name="reStar">
					                                        <i class="fa" th:classappend="${relist.reStar >= 1 ? 'fa-star' : 'fa-star-o'}"></i>
					                                        <i class="fa" th:classappend="${relist.reStar >= 2 ? 'fa-star' : 'fa-star-o'}"></i>
					                                        <i class="fa" th:classappend="${relist.reStar >= 3 ? 'fa-star' : 'fa-star-o'}"></i>
					                                        <i class="fa" th:classappend="${relist.reStar >= 4 ? 'fa-star' : 'fa-star-o'}"></i>
					                                        <i class="fa" th:classappend="${relist.reStar >= 5 ? 'fa-star' : 'fa-star-o'}"></i>
					                                    </div>
                                                        <h4><span th:text="${relist.reTitle}"></span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-bottom">
												<h5><span th:text="${relist.reComment}"></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ratting-form-wrapper pl-50">
                                    <h3>후기 작성</h3>
                                    <div class="ratting-form">
                                        <form id="form" name="form" method="post" action="/usr/v1/infra/product/detailUsrView">
                                            <div class="star-box">
                                                <div class="ratting-star" >
                                                    <i class="fa fa-star" value="1"></i>
                                                    <i class="fa fa-star" value="2"></i>
                                                    <i class="fa fa-star" value="3"></i>
                                                    <i class="fa fa-star" value="4"></i>
                                                    <i class="fa fa-star" value="5"></i>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="rating-form-style mb-10">
                                                        <input type="text" id="reTitle" name="reTitle" placeholder="제목" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="rating-form-style form-submit">
                                                        <textarea name="reComment" id="reComment" placeholder="후기 내용" autocomplete="off"></textarea>
                                                        <input type="button" id="btnReview" value="확인">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related-product-area pb-95">
        <div class="container">
            <div class="section-title text-center mb-50">
                <h2>관련 상품</h2>
            </div>
            <div class="related-product-active owl-carousel owl-dot-none">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/shoes/shoes1.png" alt="">
                            <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/shoes/shoes11.png" alt="">
                        </a>
                        <!-- <span class="pink"></span> -->
                        <div class="product-action">
                            <div class="pro-same-action pro-wishlist">
                                <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="pro-same-action pro-cart">
                                <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                            </div>
                            <div class="pro-same-action pro-quickview">
                                <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i
                                        class="pe-7s-look"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <h3><a href="product-details.html">룩 81 V라인 쪼리</a></h3>
                        <div class="product-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-price">
                            <span>39,900원</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-2.jpg" alt="">
                            <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-2-1.jpg" alt="">
                        </a>
                        <span class="purple">New</span>
                        <div class="product-action">
                            <div class="pro-same-action pro-wishlist">
                                <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="pro-same-action pro-cart">
                                <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                            </div>
                            <div class="pro-same-action pro-quickview">
                                <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i
                                   class="pe-7s-look"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                        <div class="product-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-price">
                            <span>$ 60.00</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-3.jpg" alt="">
                            <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-3-1.jpg" alt="">
                        </a>
                        <span class="pink">-10%</span>
                        <div class="product-action">
                            <div class="pro-same-action pro-wishlist">
                                <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="pro-same-action pro-cart">
                                <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                            </div>
                            <div class="pro-same-action pro-quickview">
                                <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i
                                        class="pe-7s-look"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                        <div class="product-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-price">
                            <span>$ 60.00</span>
                            <span class="old">$ 60.00</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-4.jpg" alt="">
                            <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-4-1.jpg" alt="">
                        </a>
                        <span class="purple">New</span>
                        <div class="product-action">
                            <div class="pro-same-action pro-wishlist">
                                <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="pro-same-action pro-cart">
                                <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                            </div>
                            <div class="pro-same-action pro-quickview">
                                <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i
                                        class="pe-7s-look"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                        <div class="product-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-price">
                            <span>$ 60.00</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-5.jpg" alt="">
                            <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/product/pro-5-1.jpg" alt="">
                        </a>
                        <span class="pink">-10%</span>
                        <div class="product-action">
                            <div class="pro-same-action pro-wishlist">
                                <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="pro-same-action pro-cart">
                                <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                            </div>
                            <div class="pro-same-action pro-quickview">
                                <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i
                                        class="pe-7s-look"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                        <div class="product-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-price">
                            <span>$ 60.00</span>
                            <span class="old">$ 60.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- footer start -->
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>
<!-- footer end -->

<!-- Modal strat-->
<div th:replace="~{usr/v1/infra/include/modal :: modal}"></div>
<!-- Modal end -->

    <!-- All JS is here
============================================ -->

    <script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
    <script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/main.js"></script>
<script>
	document.getElementById("btnLogout").onclick = function(){
				$.ajax({
					async: true 
					,cache: false
					,type: "post"
					,url: "/signoutXdmProc"
					,success: function(response) {
								location.href = "/usr/v1/infra/index/indexUsrView";
					}
					,error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			}
</script>
<script>
document.getElementById("btnReview").onclick = function(){
	let form = document.querySelector("form[name = form]");
	form.action = "/usr/v1/infra/product/detailUsrView";
	form.submit();
}
</script>
<!-- <script>
	const salePrice = document.querySelector('.sale-price');
	const countInput = document.querySelector('.cart-plus-minus-box');
	const orderPrice = document.querySelector('.order-price');
	
	const salePriceR = salePrice.repalce(/,/g,"").replace(/원/g,"").trim();
	const salePriceI = Number(salePriveR);
	
	const totalPrice = salePriceI * countInput;
	
</script> -->
<!-- <script>
	const stars = document.querySelectorAll('.ratting-star i'); // 모든 별 아이콘
	const ratingValue = document.getElementById('star-rating-value'); // 선택된 별점 값 표시하는 부분
	
	// 별 클릭 시 동작
	stars.forEach(star => {
	    star.addEventListener('click', function() {
	        const value = this.getAttribute('value'); // 클릭한 별의 value 속성 값
	        updateStars(value); // 별 상태 업데이트
	        ratingValue.textContent = value; // 선택된 별점 값 표시
	    });
	});
	function updateStars(value) {
	    stars.forEach(star => {
	        const starValue = parseInt(star.getAttribute('value'));
	
	        if (starValue <= value) {
	            // 클릭된 별점 이하의 별은 채워진 별 (fa-star)
	            star.classList.remove('fa-star-o'); // 빈 별을 제거
	            star.classList.add('fa-star');     // 채워진 별 추가
	        } else {
	            // 클릭된 별점 이상은 빈 별 (fa-star-o)
	            star.classList.remove('fa-star');  // 채워진 별을 제거
	            star.classList.add('fa-star-o');    // 빈 별 추가
	        }
	    });
	}
</script> -->
x<script>
    document.getElementById("prSize").addEventListener("change", function() {
    	if("prSize"== ""){
    		
    	}
    	
        var selecteSize = this.options[this.selectedIndex].text;
        document.getElementById("selecteSize").textContent = selecteSize;
    });
</script>
</body>

</html>