<!doctype html>
<html class="no-js" lang="en">

<!-- head strat -->
<div th:replace="~{usr/v1/infra/include/head :: head}"></div>
<!-- head end -->
<style>
.modal-dialog {
    max-width: 500px; /* 원하는 가로 넓이로 설정 */
    margin-top: 270px; /* 원하는 세로 높이로 설정 */
}
</style>
<body>
<!-- header start -->

<div th:replace="~{usr/v1/infra/include/header :: header}"></div>

<!-- header end -->
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/usr/v1/infra/index/indexUsrView">Home</a>
                </li>
                <li class="active">로그인 </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 ms-auto me-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4> 로그인  </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form  method="post" name="form" id="form">
										<div class="mb-3">
											<label for="memId" class="form-label">아이디</label>
											<input type="text" class="form-control" id="memId" name="memId" autocomplete="off" required="" placeholder="아이디를 입력해 주세요.">
											<div id="memIdError" class="text-danger" style="display: none;"></div>
										</div>
										<div class="mb-3">
											<label>비밀번호</label>
											<input type="password" class="form-control" id="memPassword" name="memPassword" autocomplete="off" required="" placeholder="비밀번호를 입력해 주세요.">
											<div id="memPasswordError" class="text-danger" style="display: none;"></div>
										</div>
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
<!--                                                 <input type="checkbox"> -->
                                                <label></label>
                                                <a href="/usr/v1/infra/Product/signupUsrForm">회원가입</a>
                                            </div>
                                            <button type="button" id="btnLogin"><span>로그인</span></button>
                                            <a id="kakao-login-btn" href="javascript:loginWithKakao()">
											  <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="150"  alt="카카오 로그인 버튼" />
											</a>
											<p id="token-result"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal start -->
<div class="modal" id="modalAlert" tabindex="-1">
	<div class="modal-dialog">
	 	<div class="modal-content">
			<div class="modal-header">
		     	<h5 class="modal-title" id="modalAlertTitle">Modal title</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body" id="modalAlertBody">
		       	<p>Modal body text goes here.</p>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
		    </div>
		</div>
	</div>
</div>
<!-- Modal end -->

<!-- footer start -->
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>
<!-- footer end -->

<!-- Modal start-->
<!-- <div th:replace="~{usr/v1/infra/include/modal :: modal}"></div> -->
<!-- Modal end -->









<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/popper.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/bootstrap.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/main.js"></script>
<!--Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- kakao login -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
	document.getElementById("btnLogin").onclick = function(){
		const memId = document.getElementById("memId");
		const memIdValue = document.getElementById("memId").value.trim();
		const memIdError = document.getElementById("memIdError");
		
		var memIdRegExp = /^[a-zA-Z][0-9a-zA-Z]{7,11}$/;
		if(!memIdRegExp.test(memIdValue)){
			memIdError.innerText = "아이디 입력해 주세요.";
			memIdError.style.display="";
			memId.classList.add("is-invalid");
			memId.classList.remove("is-valid");
			memId.focus();
			return false;
	    } else {
	    	memIdError.style.display = "none";
	    	memId.classList.remove("is-invalid");
	    	memId.classList.add("is-valid");
	    }
		
		const memPassword = document.getElementById("memPassword");
		const memPasswordValue = document.getElementById("memPassword").value;
		const memPasswordError = document.getElementById("memPasswordError");
		
		var memPasswordRegExp = /^[a-zA-Z][0-9a-zA-Z]{7,11}$/;
		if(!memPasswordRegExp.test(memPasswordValue)){
			memPasswordError.innerText = "비밀번호를 입력해 주세요.";
			memPasswordError.style.display = "";
			memPassword.classList.add("is-invalid");
			memPassword.classList.remove("is-valid");
			memPassword.focus();
			return false;
		} else {
			memPasswordError.style.display = "none";
			memPassword.classList.remove("is-invalid");
			memPassword.classList.add("is-valid");
		} 
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/xdm/v1/infra/member/signinXdmProc"
			,data : { "memId" : $("#memId").val(), "memPassword" : $("#memPassword").val()}
			,success: function(response) {
				if(response.rt == "success") {
						location.href = "/usr/v1/infra/index/indexUsrView";
				} else {
			 		document.getElementById("modalAlertTitle").innerText = "확 인";
			 		document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
			 		$("#modalAlert").modal("show");
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
		
	}
</script>
<script>
	Kakao.init('9a79b228465df4faa6a10e4225e1beec');
    console.log( Kakao.isInitialized() );
  function loginWithKakao() {
    Kakao.Auth.authorize({
      redirectUri: 'http://localhost:8080/usr/v1/infra/index/indexUsrView',
    });
  }

  // 아래는 데모를 위한 UI 코드입니다.
  displayToken()
  function displayToken() {
    var token = getCookie('authorize-access-token');

    if(token) {
      Kakao.Auth.setAccessToken(token);
      Kakao.Auth.getStatusInfo()
        .then(function(res) {
          if (res.status === 'connected') {
            document.getElementById('token-result').innerText
              = 'login success, token: ' + Kakao.Auth.getAccessToken();
          }
        })
        .catch(function(err) {
          Kakao.Auth.setAccessToken(null);
        });
    }
  }

  function getCookie(name) {
    var parts = document.cookie.split(name + '=');
    if (parts.length === 2) { return parts[1].split(';')[0]; }
  }
  
  /* 엔터시 로그인 버튼 활성화 */
  document.addEventListener('keydown', function(event) {
	    if (event.key == 'Enter') {
	        document.getElementById("btnLogin").click();
	    }
	});
</script>


<!-- kakao login start -->

<!-- kakao login end -->

</body>

</html>