<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinnosuke.infra.codegroup.CodeGroupDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.shinnosuke.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		from
			CodeGroup a
		where 1 = 1
		<if test="sh_DelNY != null and !sh_DelNY.equals('')">And cg_DelNY = #{sh_DelNY}</if>
		<if test="sh_UseNY != null and !sh_UseNY.equals('')">And cg_UseNY = #{sh_UseNY}</if>
		
		<choose>
			<when test="sh_OptionDate == 1">AND a.cg_ReDate BETWEEN #{sh_DateStart} AND #{sh_DateEnd}</when>
			<when test="sh_OptionDate == 2">AND a.cg_MoDate BETWEEN #{sh_DateStart} AND #{sh_DateEnd}</when>
		</choose>
		
		<choose>
			<when test="sh_Option == 1">AND a.cgseq = #{sh_Value}</when> 
			<when test="sh_Option == 2">AND cg_Name LIKE CONCAT('%',#{sh_Value},'%') AND cg_Name = #{sh_Value}</when>
			<when test="sh_Option == 3">AND cg_Order = #{sh_Value}</when>
		</choose>
	</sql>
		
	<select id="selectList" resultMap="resultMapObj">
		select aa.* from (
			select
				a.cgseq
				,a.cg_Name
				,a.cg_UseNY
				,a.cg_Order
				,a.cg_Desc
				,a.cg_ReDate
				,a.cg_MoDate
				,a.cg_DelNY
				,(select count(b.CodeGroup_seq) from code b where 1 = 1 and b.CodeGroup_seq = a.cgseq) as codeGroupCount
		<include refid="selectCommon"></include>

		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
		
		
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	
	<select id = "selectOne" resultMap="resultMapObj">
		select
			a.cgseq
			,a.cg_Name
			,a.cg_UseNY
			,a.cg_Order
			,a.cg_Desc
			,a.cg_ReDate
			,a.cg_MoDate
			,a.cg_DelNY
		from
			CodeGroup a
		where 1 =1
			and a.cgseq = #{cgseq}		
	</select>
	
	<insert id = "insert">
		insert into codegroup(
    		cg_Name
    		,cg_UseNY
    		,cg_Order
    		,cg_Desc
    		,cg_ReDate
    		,cg_MoDate
    		,cg_DelNY
		)value(
    		#{cg_Name}
    		,#{cg_UseNY}
    		,#{cg_Order}
    		,#{cg_Desc}
    		,now()
    		,now()
    		,0
		)
	</insert>
		
		
	<update id="update">
		update CodeGroup
		set
			cg_Name = #{cg_Name}
			,cg_UseNY = #{cg_UseNY}
			,cg_Order = #{cg_Order}
			,cg_Desc = #{cg_Desc}
			,cg_DelNY = #{cg_DelNY}
		where 1 = 1
			and cgseq = #{cgseq}
	</update>
		
	<delete id="delete">
		delete from codegroup
		where 1=1
			and cgseq = #{cgseq}
	</delete>
		
	<update id="uelete">
		update codegroup
		set
			cg_DelNY = 1
		where 1 = 1
			and cgseq = #{cgseq}
	</update>
	
	
	</mapper>