<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinnosuke.infra.code.CodeDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.shinnosuke.infra.code.CodeDto" id="resultMapObj"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
			,a.cd_Name
			,a.cd_UseNY
			,a.cd_Order
			,a.cd_Desc
			,a.cd_ReDate
			,a.cd_MoDate
			,a.cd_DelNY
			,a.CodeGroup_seq
		from
			Code a
		order by
			a.seq desc
	</select>
	
	<insert id="insert">
		insert into member1(
    		mem_Authority
    		,mem_Name
    		,mem_Id
    		,mem_Password
    		,mem_Gender
         	,mem_Birth
         	,mem_Email
         	,mem_Phone
         	,mem_Desc
         	,mem_ReDate
    		,mem_MoDate
    		,mem_DelNY
		)value(
    		#{mem_Authority}
    		,#{mem_Name}
    		,#{mem_Id}
    		,#{mem_Password}
    		,#{mem_Gender}
         	,#{mem_Birth}
         	,#{mem_Email}
         	,#{mem_Phone}
         	,#{mem_Desc}
         	,now()
    		,now()
    		,#{mem_DelNY}
		)
	</insert>
	
</mapper>