<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinnosuke.infra.lecture.LectureDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.shinnosuke.infra.lecture.LectureDto"
		id="resultMapObj"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		select
		a.seq
		,a.lec_Type
		,a.lec_Name
		,a.lec_Price
		,a.lec_Instructor
		,a.lec_StartCr
		,a.lec_EndCr
		,a.lec_StartLearn
		,a.lec_EndLearn
		,a.lec_Place
		,a.lec_Detail
		,a.lec_ReDate
		,a.lec_MoDate
		,a.lec_DelNY
		from
		lecture a
		order by
		a.seq
	</select>

<!-- 	<insert id="insert"> -->
<!-- 		insert into Lecture( -->
<!-- 		lec_Type, -->
<!-- 		lec_Name, -->
<!-- 		lec_Price, -->
<!-- 		lec_Instructor, -->
<!-- 		lec_StartCR, -->
<!-- 		lec_EndCR, -->
<!-- 		lec_StartLearn, -->
<!-- 		lec_EndLearn, -->
<!-- 		lec_Place, -->
<!-- 		lec_Detail, -->
<!-- 		lec_ReDate, -->
<!-- 		lec_MoDate, -->
<!-- 		lec_DelNY -->
<!-- 	) values ( -->
<!-- 		#{lec_Type}, -->
<!-- 		#{lec_Name}, -->
<!-- 		#{lec_Price}, -->
<!-- 		#{lec_Instructor}, -->
<!-- 		#{lec_StartCR}, -->
<!-- 		#{lec_EndCR}, -->
<!-- 		#{lec_StartLearn}, -->
<!-- 		#{lec_EndLearn}, -->
<!-- 		#{lec_Place}, -->
<!-- 		#{lec_Detail}, -->
<!-- 		now(), -->
<!-- 		now(), -->
<!-- 		#{lec_DelNY} -->
<!-- 	) -->
<!-- 	</insert> -->

<!-- 	<insert id="insert"> -->
<!-- 		INSERT INTO lecture( -->
<!-- 			lec_Type -->
<!-- 			,lec_Name -->
<!-- 			,lec_Price -->
<!-- 			,lec_Instructor -->
<!-- 			,lec_StartCr -->
<!-- 			,lec_EndCr -->
<!-- 			,lec_StartLearn -->
<!-- 			,lec_EndLearn -->
<!-- 			,lec_Place -->
<!-- 			,lec_Detail -->
<!-- 			,lec_ReDate -->
<!-- 			,lec_MoDate -->
<!-- 			,lec_DelNY -->
<!-- 		) VALUES ( -->
<!-- 			"온라인" -->
<!-- 		    ,"테스트강의명2222" -->
<!-- 		    ,"무료" -->
<!-- 		    ,"장원영" -->
<!-- 		    ,"2024.06.10" -->
<!-- 		    ,"2024.06.20" -->
<!-- 		    ,"2024.06.27" -->
<!-- 		    ,"2024.12.18" -->
<!-- 		    ,"노원 이젠아카데미" -->
<!-- 		    ,"일타강사 장원영의 자바강의" -->
<!-- 		    ,now() -->
<!-- 		    ,now() -->
<!-- 		    ,0 -->
<!-- 		) -->
<!-- 	</insert> -->

	<insert id="insert">
		insert into lecture(
    		lec_Type
    		,lec_Name
    		,lec_Price
    		,lec_Instructor
    		,lec_StartCR
            ,lec_EndCR
            ,lec_StartLearn
            ,lec_EndLearn
            ,lec_Place
            ,lec_Detail
    		,lec_ReDate
    		,lec_MoDate
    		,lec_DelNY
		)values(
    		#{lec_Type}
    		,#{lec_Name}
    		,#{lec_Price}
    		,#{lec_Instructor}
    		,#{lec_StartCR}
            ,#{lec_EndCR}
            ,#{lec_StartLearn}
            ,#{lec_EndLearn}
            ,#{lec_Place}
            ,#{lec_Detail}
            ,now()
            ,now()
    		,#{lec_DelNY}
		)
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.seq
			,a.lec_Type
			,a.lec_Name
			,a.lec_Price
			,a.lec_Instructor
			,a.lec_StartCr
			,a.lec_EndCr
			,a.lec_StartLearn
			,a.lec_EndLearn
			,a.lec_Place
			,a.lec_Detail
			,a.lec_ReDate
			,a.lec_MoDate
			,a.lec_DelNY
		from
			lecture a
		where 1=1
			and a.seq = #{seq}
	</select>
	
</mapper>