<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinnosuke.infra.member.MemberDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.shinnosuke.infra.member.MemberDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		from
			Member a
		where 1 = 1
		<if test="shDelNY != null and !shDelNY.equals('')">AND memDelNY = #{shDelNY}</if>
		<if test="shGender != null and !shGender.equals('')">AND memGender = #{shGender}</if>
			
		<if test="shDelNY != null and !shDelNY.equals('')">AND memDelNY = #{shDelNY}</if>
		<if test="shCarrier != null and !shCarrier.equals('')">AND memCarrier = #{shCarrier}</if>	
	
		<choose>
			<when test="shOption == 1">AND a.memseq = #{shValue}</when>
			<when test="shOption == 2">AND a.memName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.memId LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND a.memEmail LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 5">AND a.memPhoneNum LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 6">AND a.memZipcode LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 7">AND a.memAddress LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 8">AND a.memDtAddress LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	
		<choose>
			<when test="shOptionDate == 1">AND a.memReDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
			<when test="shOptionDate == 2">AND a.memMoDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
		</choose>
	</sql>
		
	<select id="selectList" resultMap="resultMapObj">
		select aa.* from (
			select
				a.memseq
				,a.memName
   				,a.memGender
				,a.memId
				,a.memPassword
   				,a.memEmail
   				,a.memCarrier
   				,a.memPhoneNum
   				,a.memZipcode
   				,a.memAddress
   				,a.memDtAddress
   				,a.memLati
   				,a.memLong
   				,a.memReDate
   				,a.memMoDate
				,a.memDelNY
		<include refid="selectCommon"></include>
		Order By a.memseq desc
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<insert id="insert">
		insert into Member(
    		memName
    		,memGender
    		,memId
    		,memPassword
            ,memEmail
            ,memCarrier
            ,memPhoneNum
            ,memZipcode
            ,memAddress
            ,memDtAddress
            ,memLati
            ,memLong
            ,memReDate
            ,memMoDate
    		,memDelNY
		)values(
    		#{memName}
    		,#{memGender}
    		,#{memId}
    		,#{memPassword}
            ,#{memEmail}
            ,#{memCarrier}
            ,#{memPhoneNum}
            ,#{memZipcode}
            ,#{memAddress}
            ,#{memDtAddress}
            ,#{memLati}
            ,#{memLong}
            ,now()
    		,now()
    		,0
		)
		<selectKey resultType="String" keyProperty="memseq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.memseq
    		,a.memName
   			,a.memGender
   			,a.memId
    		,a.memPassword
   		 	,a.memEmail
   		 	,a.memCarrier
   		 	,a.memPhoneNum
   		 	,a.memZipcode
   		 	,a.memAddress
   		 	,a.memDtAddress
   		 	,a.memLati
   		 	,a.memLong
    		,a.memReDate
    		,a.memMoDate
    		,a.memDelNY
		from
			Member a
 		where 1 = 1
 			and a.memseq = #{memseq}
	</select>
	
	<update id = "update">
		update Member
		set
			memName = #{memName}
			,memGender = #{memGender}
			,memId = #{memId}
			,memPassword = #{memPassword}
			,memEmail = #{memEmail}
			,memCarrier = #{memCarrier}
			,memPhoneNum = #{memPhoneNum}
			,memZipcode= #{memZipcode}
            ,memAddress = #{memAddress}
            ,memDtAddress = #{memDtAddress}
            ,memLati = #{memLati}
            ,memLong = #{memLong}
			,memDelNY = #{memDelNY}
		where 1 = 1
			and memseq = #{memseq} 
	</update>
	
	<delete id="delete">
		delete from Member
		where 1=1
			and memseq = #{memseq}
	</delete>
	
	<update id="uelete">
		update Member
		set
			memDelNY = 1
		where 1 = 1
			and memseq = #{memseq}
	</update>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		select
			a.memseq
			,a.memId
			,a.memPassword
			,a.memName
			,a.memPhoneNum
			,a.memZipcode
			,a.memAddress
			,a.memDtAddress
			,a.memEmail
		from 
			Member a
		where 1 = 1
			and memId = #{memId}
	</select>
	
	<select id="selectOneId" resultMap="resultMapObj">
		select
			a.memId
		from 
			Member a
		where 1 = 1
			and memId = #{memId} 
	</select>
	
</mapper>