<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinnosuke.infra.member.MemberDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.shinnosuke.infra.member.MemberDto" id="resultMapObj"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq
    		,a.mem_Authority
    		,a.mem_Name
   			,a.mem_Id
    		,a.mem_Password
   			,a.mem_Gender
   			,a.mem_Birth
   		 	,a.mem_Email
   		 	,a.mem_Phone
    		,a.mem_Desc
    		,a.mem_ReDate
    		,a.mem_MoDate
    		,a.mem_DelNY
		from
			member1 a
 		order by
 			a.seq desc
	</select>
	
	<insert id="insert">
		insert into member1(
    		mem_Authority
    		,mem_Name
    		,mem_Id
    		,mem_Password
    		,mem_Gender
            ,mem_Birth
            ,mem_Email
            ,mem_Phone
            ,mem_Desc
            ,mem_ReDate
    		,mem_MoDate
    		,mem_DelNY
		)values(
    		#{mem_Authority}
    		,#{mem_Name}
    		,#{mem_Id}
    		,#{mem_Password}
    		,#{mem_Gender}
            ,#{mem_Birth}
            ,#{mem_Email}
            ,#{mem_Phone}
            ,#{mem_Desc}
            ,now()
    		,now()
    		,#{mem_DelNY}
		)
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.seq
    		,a.mem_Authority
    		,a.mem_Name
   			,a.mem_Id
    		,a.mem_Password
   			,a.mem_Gender
   			,a.mem_Birth
   		 	,a.mem_Email
   		 	,a.mem_Phone
    		,a.mem_Desc
    		,a.mem_ReDate
    		,a.mem_MoDate
    		,a.mem_DelNY
		from
			member1 a
 		where 1 = 1
 			and a.seq = #{seq}
	</select>
	
	<update id = "update">
		update member1
		set
			mem_Name = #{mem_Name}
			,mem_Id = #{mem_Id}
			,mem_Password = #{mem_Password}
			,mem_Gender = #{mem_Gender}
			,mem_Birth = #{mem_Birth}
			,mem_Email = #{mem_Email}
			,mem_Phone = #{mem_Phone}
			,mem_Desc = #{mem_Desc}
			,mem_DelNY = #{mem_DelNY}
		where 1 = 1
			and seq = #{seq} 
	</update>
	
</mapper>