<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinnosuke.infra.product.ProductDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.shinnosuke.infra.product.ProductDto" id="resultMapObj"></resultMap>

	<sql id="selectCommon">
		from 
			product a
		where 1 = 1
		<if test="shDelNY != null and !shDelNY.equals('')">AND prDelNY = #{shDelNY}</if>
		<if test="shUseNY != null and !shUseNY.equals('')">AND prUseNY = #{shUseNY}</if>
		<if test="shSort != null and !shSort.equals('')">AND prSort = #{shSort}</if>
		<if test="shSize != null and !shSize.equals('')">AND prSize = #{shSize}</if>
		<if test="shColor != null and !shColor.equals('')">AND prColor = #{shColor}</if>
		
		<choose>
			<when test="shOption == 1 ">AND a.prseq = #{shValue}</when>
			<when test="shOption == 2 ">AND a.prProdName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3 ">AND a.prReguPrice LIKE CONCAT('%',#{shValue},'%')</when> 
			<when test="shOption == 4 ">AND a.prSalePrice LIKE CONCAT('%',#{shValue},'%')</when> 
			<when test="shOption == 5 ">AND a.prInventory LIKE CONCAT('%',#{shValue},'%')</when> 
		</choose>
		
		<choose>
			<when test="shOptionDate == 1">AND a.prReDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
			<when test="shOptionDate == 2">AND a.prMoDate BETWEEN #{shStartDate} AND #{shEndDate}</when>		
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		select aa.* from (
			select
				a.prseq
				,a.prProdName
				,a.prUseNY
				,a.prSort
				,a.prSize
				,a.prColor
				,a.prProdDesc
				,a.prReguPrice
				,a.prSalePrice
				,a.prInventory
				,a.prReDate
				,a.prMoDate
				,a.prDelNY
				,(select count(c.cdseq) from code c where 1 = 1 and c.cdseq = a.prSize) as sizeCount
				,(select count(r.reSeq) from review r where 1 = 1 and r.Product_prseq = a.prseq) as reviewCount
				,(select avg(r.reSeq) from review r where 1 = 1 and r.Product_prseq = a.prseq) as reviewAvg
		<include refid="selectCommon"></include>
		Order By a.prseq asc
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>	
	
	<insert id="insert">
		insert into product(
			prProdName
			,prUseNY
			,prSort
			,prSize
			,prColor
			,prProdDesc
			,prReguPrice
			,prSalePrice
			,prInventory
			,prReDate
			,prMoDate
			,prDelNY
		)values(
			#{prProdName}
			,#{prUseNY}
			,#{prSort}
			,#{prSize}
			,#{prColor}
			,#{prProdDesc}
			,#{prReguPrice}
			,#{prSalePrice}
			,#{prInventory}
			,now()
			,now()
			,0
		)
		<selectKey resultType="String" keyProperty="prseq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
	
	<select id = "selectOne" resultMap="resultMapObj">
		select
			a.prseq
			,a.prProdName
			,a.prUseNY
			,a.prSort
			,a.prSize
			,a.prColor
			,a.prProdDesc
			,a.prReguPrice
			,a.prSalePrice
			,a.prInventory
			,a.prReDate
			,a.prMoDate
			,a.prDelNY
			,(select count(*) from review r where r.Product_prseq = a.prseq) as reviewCount
			,(select avg(r.reSeq) from review r where 1 = 1 and r.Product_prseq = a.prseq) as reviewAvg
		from
			Product a
		where 1 =1
			and a.prseq = #{prseq}		
	</select>
	
	<update id="update">
		update product
		set
		prProdName = #{prProdName}
		,prUseNY = #{prUseNY}
		,prSort = #{prSort}
		,prSize = #{prSize}
		,prColor = #{prColor}
		,prProdDesc = #{prProdDesc}
		,prReguPrice = #{prReguPrice}
		,prSalePrice = #{prSalePrice}
		,prInventory = #{prInventory}
		,prDelNY = #{prDelNY}
	where 1=1
		and prseq = #{prseq}
	</update>
	
	<delete id="delete">
		delete from product
		where 1 = 1
			and prseq = #{prseq}
	</delete>
	
	<update id="uelete">
		update product
		set
			prDelNY = 1
		where 1 = 1
			and prseq = #{prseq}
	</update>
	
	<select id="selectListReview" resultMap="resultMapObj">
		select
			a.reTitle
			,a.reComment
			,a.reStar
			,c.memId
		from
			review a
		left join
			product b on b.prseq = a.Product_prseq
		left join
			member c on c.memseq = a.Member_memseq
		where 1 = 1
		 and b.prseq = #{prseq}
	</select>
	
<!-- 	<insert id="insertReview"> -->
<!-- 		insert into review ( -->
<!-- 			reTitle -->
<!-- 			,reComment -->
<!-- 			,reDelNY -->
<!-- 			,Product_prseq -->
<!-- 			,Member_memseq -->
<!-- 		)values( -->
<!-- 			#{reTitle} -->
<!-- 			,#{reComment} -->
<!-- 			,0 -->
<!-- 			,#{prseq} -->
<!-- 			,#{Member_memseq} 로그인된 세션 값으로 ㅇㅇ --> 
<!-- 		) -->
<!-- 	</insert> -->
		
	<insert id="insertPayment">
		insert into payment(
			pmName
			,pmNum
			,pmZipNum
			,pmAdr
			,pmAdrDt
			,pmEmail
			,pmDelivery
			,pmDelNY
			,Member_memseq
		)values(
			#{pmName}
			,#{pmNum}
			,#{pmZipNum}
			,#{pmAdr}
			,#{pmAdrDt}
			,#{pmEmail}
			,#{pmDelivery}
			,0
			,#{Member_memseq}
		)
		<selectKey resultType="String" keyProperty="pmSeq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertUploaded">
		insert into productfile(
			pfPath,
			pfOriginalName,
			pfUuidFileName,
			pfExt,
			pfSize,
			pfTableName,
			pfType,
			pfDefaultNY,
			pfSort,
			pfPseq,
			pfDelNY
		)values(
			#{pfPath},
			#{pfOriginalName},
			#{pfUuidFileName},
			#{pfExt},
			#{pfSize},
			#{pfTableName},
			#{pfType},
			#{pfDefaultNY},
			#{pfSort},
			#{pfPseq},
			0
		)
		<selectKey resultType="String" keyProperty="pfSeq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
	
</mapper>