<!doctype html>
<html class="no-js" lang="en">

<!-- head start -->
<div th:replace="~{usr/v1/infra/include/head :: head}"></div>
<!-- head end -->

<body>
<!-- header start -->
<div th:replace="~{usr/v1/infra/include/header :: header}"></div>
<!-- header end -->
<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="background-image:url(/usr/v1/template/flone-html-tf-v2.5.1/assets/img/index/joel-bengs-mA_lknGurfc-unsplash.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="slider-content-13 slider-animated-1">
                            <h5 class="animated" style="margin-left: 50px;">Men's Fashion</h5>
                            <h1 class="animated">Urban Man <br></h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="shop.html" style="margin-left: 150px;" >SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pt-95 pb-70">
    <div class="container">
        <div class="tab-filter-wrap mb-60">
            <div class="product-tab-list-2 nav">
                <a href="#product-1" data-toggle="tab" >
                    <h4>New  </h4>
                </a>
                <a class="active" href="#product-2" data-toggle="tab">
                    <h4>Best  </h4>
                </a>
                <a href="#product-3" data-toggle="tab">
                    <h4>Sale Items</h4>
                </a>
            </div>
            <div class="filter-active">
                <a href="#"><i class="fa fa-plus"></i> filter</a>
            </div>
        </div>
        <div class="product-filter-wrapper">
            <div class="row">
                <!-- Product Filter -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                    <div class="product-filter">
                        <h5>정렬</h5>
                        <ul class="sort-by">
                            <li><a href="#">Default</a></li>
                            <li><a href="#">Popularity</a></li>
                            <li><a href="#">Average rating</a></li>
                            <li><a href="#">Newness</a></li>
                            <li><a href="#">Price: Low to High</a></li>
                            <li><a href="#">Price: High to Low</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Product Filter -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                    <div class="product-filter">
                        <h5>컬러</h5>
                        <ul class="color-filter">
                            <li><input type="checkbox" value=""> <a href="#">검정</a></li>
                            <li><input type="checkbox" value=""> <a href="#">초록</a></li>
                            <li><input type="checkbox" value=""> <a href="#">주황</a></li>
                            <li><input type="checkbox" value=""> <a href="#">빨간</a></li>
                            <li><input type="checkbox" value=""> <a href="#">노랑</a></li>
                            <li><input type="checkbox" value=""> <a href="#">보라</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Product Filter -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                    <div class="product-filter">
                        <h5>product tags</h5>
                        <div class="product-tags">
                            <ul>
                                <li><a href="#">New</a></li>
                                <li><a href="#">brand</a></li>
                                <li><a href="#">black</a></li>
                                <li><a href="#">white</a></li>
                                <li><a href="#">chire</a></li>
                                <li><a href="#">table</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Product Filter -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb-30">
                    <div class="product-filter">
                        <h5>가격</h5>
                        <div class="price-filter mt-25">
                            <div class="price-slider-amount">
                                <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                            </div>
                            <div id="slider-range"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane" id="product-1">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top1.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top11.jpg" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">보스턴 세미 오버핏 반팔티</a></h3>
                                    <div class="price-2">
                                        <span class="old">30,000원</span>
                                        <span>25,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom1.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom11.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">린넨 와이드 데님 버뮤다 반바지</a></h3>
                                    <div class="price-2">
                                        <span class="old">39,900원</span>
                                        <span>40,000원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top22.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top2.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">캘리포니아 피그먼트 워싱 반팔티</a></h3>
                                    <div class="price-2">
                                        <span class="old">44,000원</span>
                                        <span>34,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom2.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom22.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">피그먼트 워싱 컬러 밴딩 와이드 팬츠</a></h3>
                                    <div class="price-2">
                                        <span class="old">40,000원</span>
                                        <span>39,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top3.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top33.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">센트럴 프린팅 오버핏 반팔티</a></h3>
                                    <div class="price-2">
                                        <span class="old">34,000원</span>
                                        <span>24,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom3.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom33.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">YKK 세미와이드 하프 데님 팬츠</a></h3>
                                    <div class="price-2">
                                        <span class="old">40,000원</span>
                                        <span>39,000원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top4.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/top/top44.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">바이오워싱 오버핏 쿨링 린넨 셔츠</a></h3>
                                    <div class="price-2">
                                        <span>49,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom4.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/bottom/bottom44.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">썸머 워싱 코튼 밴딩 반바지</a></h3>
                                    <div class="price-2">
                                        <span>39,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="product-2">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_bottom/bottom1.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_bottom/bottom11.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">피그먼트 워싱 컬러 밴딩 와이드 팬츠</a></h3>
                                    <div class="price-2">
                                        <span class="old">40,000원</span>
                                        <span>39,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_top/top1.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_top/top11.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">피그먼트 올림피아 오버핏 반팔티</a></h3>
                                    <div class="price-2">
                                        <span class="old">46,900원</span>
                                        <span>36,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/shoes/shoes1.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/shoes/shoes11.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 81 V라인 쪼리</a></h3>
                                    <div class="price-2">
                                        <span>39,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_top/top3.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_top/top33.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">더블린 쿨 썸머 머슬핏 골지 반팔 니트</a></h3>
                                    <div class="price-2">
                                        <span class="old">49,900원</span>
                                        <span>39,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/shoes/shoes2.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/shoes/shoes22.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 시드니 이즈 플랍 쪼리</a></h3>
                                    <div class="price-2">
                                        <span>19,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_bottom/bottom2.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_bottom/bottom22.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 노메이스 뒷밴딩 투턱 린넨 와이드팬츠</a></h3>
                                    <div class="price-2">
                                        <span class="old">59,900원</span>
                                        <span>49,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_bottom/bottom3.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_bottom/bottom33.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 에이워드 투턱 린넨 와이드 데님</a></h3>
                                    <div class="price-2">
                                        <span class="old">59,900원</span>
                                        <span>49,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_top/top2.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/best_top/top22.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">콜드마린 ST 오픈카라 반팔니트</a></h3>
                                    <div class="price-2">
                                        <span>34,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="product-3">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup1.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup11.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 메이스 오버핏 후드집업 5부 카고 반바지 세트</a></h3>
                                    <div class="price-2">
                                        <span class="old">49,000원</span>
                                        <span>39,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup2.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup22.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 리베리 밀러 카펜터 생지 데님 하프 셋업</a></h3>
                                    <div class="price-2">
                                        <span class="old">49,000원</span>
                                        <span>39,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup3.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup33.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 크레덴 썸머 모던 린넨 셋업</a></h3>
                                    <div class="price-2">
                                        <span class="old">35,000원</span>
                                        <span>30,000원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup4.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup44.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 리스퀘어 썸머 아이스 와이드 플리츠 셋업</a></h3>
                                    <div class="price-2">
                                        <span class="old">29,900원</span>
                                        <span>24,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup5.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup5.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 에이지 쿨 에버 머슬핏 와이드 데님 셋업</a></h3>
                                    <div class="price-2">
                                        <span class="old">49,900원</span>
                                        <span>44,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup6.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup66.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 리베리 썸머 이지 나일론 버뮤다 셋업</a></h3>
                                    <div class="price-2">
                                        <span class="old">29,900원</span>
                                        <span>24,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup7.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup77.png" alt="">
                                </a>
                                <span class="pink">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 에카 아이스 나일론 스티치 반팔 하프 셋업</a></h3>
                                    <div class="price-2">
                                        <span class="old">39,900원</span>
                                        <span>34,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup8.png" alt="">
                                    <img class="hover-img" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/sale/setup88.png" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">룩 아워 피그 차이나 썸머 크롭 자켓/버뮤다 셋업</a></h3>
                                    <div class="price-2">
                                        <span class="old">59,900원</span>
                                        <span>44,900원</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="support-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 support-padding-2 support-shape-3 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/icon-img/support-1.png" alt="">
                        <h5>무료배송</h5>
                        <p>하나를 구매하더라도 무료배송</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 support-padding-2 support-shape-3 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/icon-img/support-2.png" alt="">
                        <h5>17시간의 고객센터</h5>
                        <p>고객님의 문의를 빠르게 처리해 드립니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 support-padding-2 support-shape-3 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/icon-img/support-3.png" alt="">
                        <h5>캐시백</h5>
                        <p>구매하고 적립금을 모아 캐시백</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area pb-95">
    <div class="container">
        <div class="brand-logo-active owl-carousel owl-dot-none">
            <div class="single-brand-logo">
                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/brand-logo/barnd-logo-1.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/brand-logo/barnd-logo-2.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/brand-logo/barnd-logo-3.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/brand-logo/barnd-logo-4.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="/usr/v1/template/flone-html-tf-v2.5.1/assets/img/brand-logo/barnd-logo-5.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- footer start -->
<div th:replace="~{usr/v1/infra/include/footer :: footer}"></div>
<!-- footer end -->

<!-- Modal strat-->
<div th:replace="~{usr/v1/infra/include/modal :: modal}"></div>
<!-- Modal end -->


<!-- All JS is here
============================================ -->

<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-v3.6.0.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/usr/v1/template/flone-html-tf-v2.5.1/assets/js/main.js"></script>
<script>
	document.getElementById("btnLogout").onclick = function(){
				$.ajax({
					async: true 
					,cache: false
					,type: "post"
					,url: "/signoutUsrProc"
					,success: function(response) {
								location.href = "/usr/v1/infra/index/indexUsrView";
					}
					,error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			}
</script>
</body>

</html>